@page
@model BD_CINEMA.Pages.Repertioires.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Repertoire</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repertoire.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repertoire.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repertoire.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repertoire.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repertoire.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repertoire.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repertoire.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repertoire.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Repertoire.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
